page-principal {
    .lista{
        z-index: -1;
    }
    .pagina{ 
        background-color: crimson;
    }
    .nombre{
        text-transform: capitalize;
    }
    .elemento:hover{
        background-color: crimson;
        background: crimson;
    }
    
}
